In [ ]:
pip install BeautifulSoup4

In [ ]:
from bs4 import BeautifulSoup
import urllib.request
import csv

In [ ]:
url = 'https://www.mapsofindia.com/states/'
page = urllib.request.urlopen(url)
soup = BeautifulSoup(page, 'html.parser')

In [ ]:
print(soup)

In [ ]:
table = soup.find('table', attrs={'class':'tableizer-table'})

In [ ]:
print(table)

In [ ]:
headings = table.find('tr', attrs={'class':'tableizer-firstrow'})
headingList = headings.find_all('th')
#print(headingList)

In [ ]:
title=[]
for t in headingList:
    title.append(t.getText())
print(title)

In [ ]:
import pandas as pd
dataset = pd.DataFrame()

In [ ]:
rows = table.find_all('tr')
i = 0
for row in rows:
    if i == 0:
        i += 1
    else:       
        info = row.find_all('td')
        if(len(info)!=12):
            print("Outlier")
        else:
            list = []
            for j in range(12):
                #print(info[j].getText())
                list.append(info[j].getText()) 
                #plist = pd.Series(list)
                #print(plist)
            #print(list)
            plist = pd.Series(list)
            #print(plist)
            dataset = dataset.append(plist, ignore_index=True)

In [ ]:
dataset.columns=title

In [33]:
dataset.head()

,State,Capital,Area,Population,Official Languages,LargestCities,Districts/Admin divisions,Population Density,Literacy Rate%,Urban Pop.%,Sex Ratio,Estd Year
0,Andhra Pradesh,Hyderabad (De jure - 2 June 2024) Amaravati (p...,"160,205 km2\t","4,93,78,776",Telugu,"Visakhapatnam,Vijayawada,Guntur",13,,67.66*,33.49*,992*,1956
1,Arunachal Pradesh,Itanagar,"83,743 km2","1,382,611",English,Itanagar,17,17 /km2,66.95,22.67,920,1987
2,Assam,Dispur,"78,438 km2","31,169,272",Assamese,"Guwahati, Silchar, Dibrugarh, Nagaon",33,397 /km2,73.18,14.08,954,1975
3,Bihar,Patna,"94,163 km2","103,804,637",Hindi,"Patna, Gaya, Bhagalpur, Muzaffarpur, Biharsharif",38,"1,102 /km2",63.82,11.30,916,1935
4,Chhattisgarh,Raipur,"135,191 km2","25,540,196",Chhattisgarhi,"Raipur, Bhilai Nagar, Korba, Bilaspur, Durg",27,189 /km2,71.04,23.24,991,2000